body {
    width: 100vw;
    height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;

    &.window-height-sm {
        align-items: unset;
    }

    &.window-width-sm {
        justify-content: unset;
    }
}

.window {
    position: relative;
    width: 1920px;
    height: 1080px;
}

.main {
    position: relative;
    width: 1920px;
    height: 1080px;
}

.section {
    display: none;
    width: 1920px;
    height: 1080px;
    opacity: 1;

    &.hidding {
        transition: opacity 1s .5s;
        opacity: 0;
    }
}

.view-canvas {
    height: 100vh;
    width: 100vw;
}

.element {
    opacity: 0;
    display: none;

    --width: auto;
    --height: auto;
    width: var(--width);
    height: var(--height);

	/* testing class */
	&.show {
		display: block;
		opacity: 1;
	}
}

.element-absolute {
    position: absolute;
}

.element-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 1200px;
    height: 550px;
}